{% extends "base.html" %}
{% block content %}
<div class="container col s12">
    <h4><i class="material-icons">error_outline</i>今日发布<span><a href="#" class="more">更多</a></span></h4>
    <div class="divider"></div>
    <div class="row">
        <div id='myMap' class="col s12" style="height: 650px;">

        </div>
    </div>
    <!--<h4><i class="material-icons">error_outline</i>紧急发布<span><a href="#" class="more">更多</a></span></h4>-->
    <!--<div class="divider"></div>-->
    <!--<div class="row">-->
    <!--<div class="col s12 m6 l3">-->
    <!--<div class="card">-->
    <!--<div class="card-image waves-effect waves-block waves-light"><img class="activator"-->
    <!--src="http://materializecss.com/images/office.jpg">-->
    <!--</div>-->
    <!--<div class="card-content"><span class="card-title activator grey-text text-darken-4">Card Title<i-->
    <!--class="material-icons right">more_vert</i></span>-->
    <!--<p><a href="#">查看详情</a></p></div>-->
    <!--<div class="card-reveal"><span class="card-title grey-text text-darken-4">Card Title<i-->
    <!--class="material-icons right">close</i></span>-->
    <!--<p>Here is some more information about this product that is only revealed once clicked on.</p></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col s12 m6 l3">-->
    <!--<div class="card">-->
    <!--<div class="card-image waves-effect waves-block waves-light"><img class="activator"-->
    <!--src="http://materializecss.com/images/office.jpg">-->
    <!--</div>-->
    <!--<div class="card-content"><span class="card-title activator grey-text text-darken-4">Card Title<i-->
    <!--class="material-icons right">more_vert</i></span>-->
    <!--<p><a href="#">查看详情</a></p></div>-->
    <!--<div class="card-reveal"><span class="card-title grey-text text-darken-4">Card Title<i-->
    <!--class="material-icons right">close</i></span>-->
    <!--<p>Here is some more information about this product that is only revealed once clicked on.</p></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col s12 m6 l3">-->
    <!--<div class="card">-->
    <!--<div class="card-image waves-effect waves-block waves-light">-->
    <!--<img class="activator" src="http://materializecss.com/images/office.jpg">-->
    <!--</div>-->
    <!--<div class="card-content"><span class="card-title activator grey-text text-darken-4">Card Title<i-->
    <!--class="material-icons right">more_vert</i></span>-->
    <!--<p><a href="#">查看详情</a></p></div>-->
    <!--<div class="card-reveal"><span class="card-title grey-text text-darken-4">Card Title<i-->
    <!--class="material-icons right">close</i></span>-->
    <!--<p>Here is some more information about this product that is only revealed once clicked on.</p></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col s12 m6 l3">-->
    <!--<div class="card">-->
    <!--<div class="card-image waves-effect waves-block waves-light"><img class="activator"-->
    <!--src="http://materializecss.com/images/office.jpg">-->
    <!--</div>-->
    <!--<div class="card-content"><span class="card-title activator grey-text text-darken-4">Card Title<i-->
    <!--class="material-icons right">more_vert</i></span>-->
    <!--<p><a href="#">查看详情</a></p></div>-->
    <!--<div class="card-reveal"><span class="card-title grey-text text-darken-4">Card Title<i-->
    <!--class="material-icons right">close</i></span>-->
    <!--<p>Here is some more information about this product that is only revealed once clicked on.</p></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div class="divider"></div>
    <h4><i class="material-icons">photo_library</i>疑似照片在线识别<span><a href="#" class="more">更多</a></span></h4>
    <div class="card">
        <div class="card-content">
            <p>可以通过归家网公众号，或是网页，将您拍摄的疑似走失人员的正脸照片上传，我们将对其与数据库中的走失人员照片进行比对，并返回相似度。</p>
        </div>
    </div>
    <div class="divider"></div>
    <h4><i class="material-icons">assistant</i>帮助我们</h4>
    <div class="card">
        <div class="card-content">
            <p>我们刚刚起步，非常渴望大家的帮助，把善意传递下去。您可以通过下面几种方式帮助我们</p>
        </div>

        <div class="card-content red lighten-5">
            <div id="help1">
                <div class="row">
                    <div class="col s12 m6 l3">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light"><img class="activator"
                                                                                              src="{{url_for('static', filename='imgs/QR.jpg')}}">
                            </div>
                            <div class="card-content"><span
                                    class="card-title activator grey-text text-darken-4">关注归家网公众号<i
                                    class="material-icons right">more_vert</i></span>
                                <p>更方便地上传比对图片，获取最新的紧急发布</p>
                                <p class="click_for_detail">点击图片查看详情</p>
                            </div>
                            <div class="card-reveal"><span class="card-title grey-text text-darken-4">关注归家网公众号<i
                                    class="material-icons right">close</i></span>
                                <p>更方便地上传比对图片</p>
                                <p>获取最新的紧急发布</p>
                                <p>更多功能开发中</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l3">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator"
                                     src="{{url_for('static', filename='imgs/doanteWechat.png')}}">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">微信捐赠<i
                                        class="material-icons right">more_vert</i></span>
                                <p>您的小小红包让这个美好的想法继续</p>
                                <p class="click_for_detail">点击图片查看详情</p>
                            </div>
                            <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">通过微信捐赠<i
                                            class="material-icons right">close</i></span>
                                <p>网站为个人公益性质，没有任何资金来源支付成本.您的捐赠将被用来建设归家网，帮助更多人回家</p>
                                <p>
                                    您一笔五毛钱的捐款可以：
                                </p>
                                <ul class="collection">
                                    <li class="collection-item">
                                        租用服务器15小时
                                    </li>
                                    <li class="collection-item">
                                        租用域名3天
                                    </li>
                                    <li class="collection-item">
                                        为比对数据库增加1000条记录
                                    </li>

                                    <li class="collection-item">
                                        调用人脸比对接口1000次
                                    </li>
                                    <li class="collection-item">
                                        核实1～2条走失信息
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l3">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="{{url_for('static', filename='imgs/doanteAli.jpg')}}">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">支付宝捐赠<i
                                        class="material-icons right">more_vert</i></span>
                                <p>您的小小红包让这个美好的想法继续</p>
                                <p class="click_for_detail">点击图片查看详情</p></div>
                            <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">支付宝捐赠<i
                                            class="material-icons right">close</i></span>
                                <p>网站为个人公益性质，没有任何资金来源支付成本.您的捐赠将被用来建设归家网，帮助更多人回家</p>
                                <p>
                                    您一笔五毛钱的捐款可以：
                                </p>
                                <ul class="collection">
                                    <li class="collection-item">
                                        租用服务器15小时
                                    </li>
                                    <li class="collection-item">
                                        租用域名3天
                                    </li>
                                    <li class="collection-item">
                                        为比对数据库增加1000条记录
                                    </li>

                                    <li class="collection-item">
                                        调用人脸比对接口1000次
                                    </li>
                                    <li class="collection-item">
                                        核实1～2条走失信息
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l3">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light"><img class="activator"
                                                                                              src="{{url_for('static', filename='imgs/volunteer.png')}}">
                            </div>
                            <div class="card-content"><span
                                    class="card-title activator grey-text text-darken-4">志愿者<i
                                    class="material-icons right">more_vert</i></span>
                                <p>如果您热心于公益，请加入....</p>
                                <p class="click_for_detail">点击图片查看详情</p>
                            </div>
                            <div class="card-reveal"><span class="card-title grey-text text-darken-4">推广志愿者<i
                                    class="material-icons right">close</i></span>
                                <p>如果您热心于公益，并有推广或是设计方面的才能，欢迎加入我们</p>
                                <form class="col s12">
                                    <div class="row">
                                        <div class="input-field  ">
                                            <input id="join_name" type="text" class="validate">
                                            <label data-error="输入错误" for="join_name">姓名</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field   ">
                                            <textarea id="join_description" class="materialize-textarea"></textarea>
                                            <label for="join_description" data-error="输入错误">描述</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field   col s10">
                                            <input id="join_phone" type="tel" class="validate">
                                            <label for="join_phone" data-error="输入错误">联系人电话</label>
                                        </div>
                                        <div class="col s2">
                                            <a class="btn-floating btn-small red" style="text-align: center"
                                               id="getIdCode2">
                                                验证
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="idCode2" type="number" class="validate">
                                            <label for="idCode2" id="idCodeLable3" data-error="输入错误">短信验证码</label>
                                        </div>
                                    </div>
                                </form>
                                <button class="btn waves-effect waves-light" type="submit" name="action" id="newMember">
                                    提交
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--<div id="help3">-->
            <!--<div class="row">-->
            <!--<div class="col s12 m6 l4 offset-l2">-->
            <!--<div class="card">-->
            <!--<div class="card-image waves-effect waves-block waves-light"><img class="activator"-->
            <!--src="{{url_for('static', filename='imgs/market.png')}}">-->
            <!--</div>-->
            <!--<div class="card-content"><span-->
            <!--class="card-title activator grey-text text-darken-4">推广志愿者<i-->
            <!--class="material-icons right">more_vert</i></span>-->
            <!--<p>如果您对推广运营很熟悉或感兴趣，并热心于公益，请加入....</p>-->
            <!--<p class="click_for_detail">点击图片查看详情</p>-->
            <!--</div>-->
            <!--<div class="card-reveal"><span class="card-title grey-text text-darken-4">推广志愿者<i-->
            <!--class="material-icons right">close</i></span>-->
            <!--<p>如果您对推广运营公众号或网站很熟悉或感兴趣，并热心于公益，请加入我们</p>-->
            <!--<form class="col s12">-->
            <!--<div class="row">-->
            <!--<div class="input-field  ">-->
            <!--<input id="design_name" type="text" class="validate">-->
            <!--<label for="design_name">姓名</label>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="row">-->
            <!--<div class="input-field   ">-->
            <!--<textarea id="design_comment" class="materialize-textarea"></textarea>-->
            <!--<label for="design_comment">描述</label>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
            <!--<div class="file-field input-field   ">-->
            <!--<div class="btn">-->
            <!--<span>任何作品，简历，图片...</span>-->
            <!--<input type="file" id="design_image">-->
            <!--</div>-->
            <!--<div class="file-path-wrapper ">-->
            <!--<input class="file-path validate" type="text">-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
            <!--<div class="input-field   col s10">-->
            <!--<input id="design_phone" type="tel" class="validate">-->
            <!--<label for="design_phone">联系人电话</label>-->
            <!--</div>-->
            <!--<div class="col s2">-->
            <!--<a class="btn-floating btn-small red" style="text-align: center"-->
            <!--id="getIdCode3">-->
            <!--验证-->
            <!--</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
            <!--<div class="input-field col s12">-->
            <!--<input id="idCode3" type="number" class="validate">-->
            <!--<label for="idCode3" id="idCodeLable3">短信验证码</label>-->
            <!--</div>-->
            <!--</div>-->
            <!--</form>-->
            <!--<button class="btn waves-effect waves-light" type="submit" name="action">提交-->
            <!--<i class="material-icons right">send</i>-->
            <!--</button>-->
            <!--</div>-->
            <!--</div>-->

            <!--</div>-->
            <!--<div class="col s12 m6 l4">-->
            <!--<div class="card">-->
            <!--<div class="card-image waves-effect waves-block waves-light"><img class="activator"-->
            <!--src="{{url_for('static', filename='imgs/design.png')}}">-->
            <!--</div>-->
            <!--<div class="card-content"><span-->
            <!--class="card-title activator grey-text text-darken-4">设计志愿者<i-->
            <!--class="material-icons right">more_vert</i></span>-->
            <!--<p>如果您有设计方面的才华，并热心于公益，请加入....</p>-->
            <!--<p class="click_for_detail">点击图片查看详情</p>-->

            <!--</div>-->
            <!--<div class="card-reveal"><span class="card-title grey-text text-darken-4">设计志愿者<i-->
            <!--class="material-icons right">close</i></span>-->
            <!--<p>如果您有设计方面的才华，并热心于公益，请加入我们</p>-->
            <!--<form class="col s12">-->
            <!--<div class="row">-->
            <!--<div class="input-field   ">-->
            <!--<input id="market_name" type="text" class="validate">-->
            <!--<label for="market_name">姓名</label>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="row">-->
            <!--<div class="input-field">-->
            <!--<textarea id="market_comment" class="materialize-textarea"></textarea>-->
            <!--<label for="market_comment">描述</label>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
            <!--<div class="file-field input-field   ">-->
            <!--<div class="btn">-->
            <!--<span>任何作品，简历，图片...</span>-->
            <!--<input type="file" id="market_image">-->
            <!--</div>-->
            <!--<div class="file-path-wrapper ">-->
            <!--<input class="file-path validate" type="text">-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
            <!--<div class="input-field   col s10">-->
            <!--<input id="market_phone" type="tel" class="validate">-->
            <!--<label for="market_phone">联系人电话</label>-->
            <!--</div>-->
            <!--<div class="col s2">-->
            <!--<a class="btn-floating btn-small red" style="text-align: center"-->
            <!--id="getIdCode2">-->
            <!--验证-->
            <!--</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
            <!--<div class="input-field col s12">-->
            <!--<input id="idCode2" type="number" class="validate">-->
            <!--<label for="idCode2" id="idCodeLable2">短信验证码</label>-->
            <!--</div>-->
            <!--</div>-->
            <!--</form>-->
            <!--<button class="btn waves-effect waves-light" type="submit" name="action"-->
            <!--id="submit_inform">提交-->
            <!--<i class="material-icons right">send</i>-->
            <!--</button>-->
            <!--</div>-->
            <!--</div>-->

            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <div class="divider"></div>
    <h4><i class="material-icons">cloud_upload</i>发布信息<span><p class="more">详情</p></span></h4>
    <div class="card">
        <div class="card-content">
            <p>您可以发布走失信息，我们人工审核后将把您的信息录入数据库并发布，让更多人帮助您找回家人</p>
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="material-icons right">menu</i>发布信息</div>
                    <div class="collapsible-body">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12 m12 l6">
                                    <input id="lost_name" type="text" class="validate">
                                    <label data-error="输入错误" for="lost_name">走失人姓名</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m12 l6">
                                    <select id="gender" name="gender">
                                        <option value="" disabled selected>走失人性别</option>
                                        <option value="男">男</option>
                                        <option value="女">女</option>
                                    </select>
                                    <label data-error="输入错误" for="gender">性别</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m12 l6">
                                    <label data-error="输入错误" for="birthday">生日</label>
                                    <input id="birthday" type="date" class="datepicker">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m12 l6">
                                    <label data-error="输入错误" for="lost_date">走失日期</label>
                                    <input id="lost_date" type="date" class="datepicker">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s4 m4 l2">
                                    <input id="lost_loc_province" type="text" class="validate">

                                    <label data-error="输入错误" for="lost_loc_province">走失地 省</label>
                                </div>
                                <div class="input-field col s4 m4 l2">
                                    <input id="lost_loc_city" type="text" class="validate">

                                    <label data-error="输入错误" for="lost_loc_city">市</label>
                                </div>
                                <div class="input-field col s4 m4 l2">
                                    <input id="lost_loc_town" type="text" class="validate">

                                    <label for="lost_loc_town" data-error="输入错误">区县街道</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m12 l6">
                                    <label data-error="输入错误">身高（厘米）</label><br>
                                    <p class="range-field">
                                        <input type="range" id="height" min="10" max="250" class="validate"/>
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12 m12 l6">
                                    <textarea id="description" class="materialize-textarea validate"></textarea>
                                    <label for="description" data-error="输入错误">描述</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="file-field input-field col s12 m12 l6">
                                    <div class="btn">
                                        <span>走失人头像</span>
                                        <input type="file" id="image">
                                    </div>
                                    <div class="file-path-wrapper ">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m12 l6">
                                    <input id="contact_name" type="text" class="validate">
                                    <label data-error="输入错误" for="contact_name">联系人姓名</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m12 l6">
                                    <input id="contact_phone" type="tel" class="validate">
                                    <label data-error="输入错误" for="contact_phone">联系人电话</label>

                                </div>
                                <div class="col s3 m3 l2">
                                    <a class="btn-floating btn-middle red" style="text-align: center" id="getIdCode1">
                                        验证</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m12 l6">
                                    <input id="idCode1" type="number" class="validate">
                                    <label data-error="输入错误" for="idCode1" id="idCodeLable1">短信验证码</label>
                                </div>
                            </div>
                        </form>
                        <button class="btn waves-effect waves-light" type="submit" name="action" id="newProfile">发布信息
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="divider"></div>
    <h4><i class="material-icons">sentiment_very_satisfied</i>夕阳徽章<span><p class="more">更多</p></span></h4>
    <div class="card">
        <div class="card-content">
            <p>待开发.....</p>
        </div>
    </div>
</div>
<div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>
{% endblock %}
{% block script %}
<script src='http://dev.dituhui.com/sdk/1.0.0/js/dituhui-flash.js'></script>
<script src='http://dev.dituhui.com/sdk/1.0.0/js/dituhui-flash.js'></script>
<script src="{{url_for('static', filename='js/map.js')}}"></script>
<script src='http://dev.dituhui.com/sdk/1.0.0/js/sample-data.js'></script>
{% endblock %}